node_modules/
build
src/swagger.json
src/routes.ts
dist
ctrf/

.npm
.env
.cache
npm-debug.log*
*.log
*.pid
*.seed
*.pid.lock

.DS_Store
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
