node_modules/
build
src/routes.ts
dist
ctrf/

.npm
.env
.cache
npm-debug.log*
*.log
*.pid
*.seed
*.pid.lock
.tsimp

.DS_Store
.vscode
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
