{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": true,
      "topLevelAwait": true,
      "importMeta": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true,
      "react": {
        "runtime": "automatic",
        "importSource": "@kitajs/html"
      },
      "useDefineForClassFields": true
    },
    "minify": {
      "compress": {
        "unused": true
      },
      "mangle": true
    },
    "target": "esnext"
  },
  "exclude": [
    "/__tests__/"
  ],
  "sourceMaps": true,
  "isModule": true,
  "minify": true
}