/* connection specific element styling  */

#new-connection-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content 1fr auto;
  gap: 8px 16px;
  min-height: 340px;

  background-color: #fff;
  overflow-x: auto;
  max-width: 1000px;
  border-radius: 12px;
  padding: 2rem 2rem;
  margin: 1rem 2rem 0rem 1rem;

  --form-element-vert-spacing: 2rem;
}

#new-connection-form > * {
  grid-column: 1/1;
  height: min-content;
}

#new-connection-feedback {
  grid-column: 2/2;
  grid-row: 1/-2;
}

#new-connection-feedback {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  padding: 1rem;
  border: 2px solid var(--feedback-accent);
  border-radius: 7px;
  line-height: normal;
  gap: 6px;
  width: 100%;
  max-width: 40ch;
  min-height: 10rem;

  --feedback-annotation-text-height: 1.5rem;
  margin-top: var(--feedback-annotation-text-height);
  margin-inline: auto;

  transition: border-color 0.5s;
  --feedback-accent: var(--neutral-accent);
}

#new-connection-feedback.feedback-negative {
  --feedback-accent: var(--negative-accent);
}

#new-connection-feedback.feedback-positive {
  --feedback-accent: var(--positive-accent);
}

#new-connection-feedback::before {
  content: 'Official Companies House Information';
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-1.5rem);
  font-size: 0.75rem;

  transition: color 0.5s;
  color: var(--feedback-accent);
}

#new-connection-feedback > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#new-connection-feedback span:first-child {
  display: block;
  text-align: left;
  color: var(--text-color);
  font-weight: bold;
}

#new-connection-actions {
  grid-row: -1/-1;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

#new-connection-actions > * {
  width: 18ch;
}

#new-connection-form input {
  border: 1px solid var(--border-black);
  box-shadow: none;
  width: 100%;
  min-width: 32ch;
  max-width: 40ch;
  padding: 1em;
  border-radius: 0.5em;
  margin-top: var(--form-element-vert-spacing);
}

#new-connection-form select {
  border: 1px solid var(--border-black);
  box-shadow: none;
  width: 100%;
  min-width: 32ch;
  max-width: 40ch;
  padding: 16px;
  border-radius: 0.5em;
  margin-top: var(--form-element-vert-spacing);
  color: var(--text-color);
  font-size: 1rem;
}

#new-connection-form .address-line {
  display: inline-block;
}

#new-connection-confirmation-text {
  font-size: 0.875rem;
  margin-inline: 40px;
  text-align: center;
}

#new-connection-progress {
  position: relative;
  display: grid;
  gap: 6px;
  align-items: center;
  width: calc(100% - 20px);
  margin-top: 1.5rem;
}
#new-connection-progress-bar {
  height: 6px;
  background-color: #e2e6f9;
  position: relative;
}
#new-connection-progress-bar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 12px;
  width: 100%;
  border-radius: calc(20px / var(--progress-percent, 1)) / 20px;
  background-color: var(--accent-color);
  transform-origin: left;
  transition: transform 0.3s ease;
  transform: scaleX(var(--progress-percent, 0)) translateY(-25%);
}
#new-connection-progress-text {
  font-size: 0.75rem;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-1.5rem);
  color: var(--text-color-secondary);
}
#new-connection-progress-text span:first-child {
  color: var(--accent-color);
}

#new-connection-invite-input {
  width: 100%;
  max-width: 50ch;
  margin-top: var(--form-element-vert-spacing);
}

#new-connection-invite-input > textarea {
  font-family: RobotoMono, monospace;
  font-size: 0.8em;
  word-break: break-all;

  box-shadow: none;
  border: 1px solid var(--border-black);
  border-radius: 7px;

  width: 100%;
  height: 15rem;
  resize: none;

  padding: 2.5ch 2ch 1rem calc(4ch + 24px);

  position: relative;
}

#new-connection-invite-input::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  left: 2ch;
  top: 2ch;
  background-image: url('../images/heart.svg');
}

#new-connection-invite-input-pin {
  border-radius: 8px;
  background: var(--Input-defaultBackground, rgba(239, 241, 249, 0.6));

  &:focus-visible {
    outline: 2px solid var(--neutral-accent);
  }

  &:not(:placeholder-shown) {
    &:invalid {
      outline-color: var(--negative-accent);
    }
    &:valid {
      outline-color: var(--positive-accent);
    }
  }
}
/* this should be narrowed down  */
.htmx-indicator {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
.htmx-request .htmx-indicator {
  opacity: 1;
}
.htmx-request.htmx-indicator {
  opacity: 1;
}
/* this should be narrowed down  */

/* Mobile view */
@media (max-width: 767px) {
  #new-connection-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    --form-element-vert-spacing: 1rem;
  }

  #new-connection-feedback {
    margin-top: calc(var(--feedback-annotation-text-height) + var(--form-element-vert-spacing));
  }

  #new-connection-actions {
    margin-top: var(--form-element-vert-spacing);
  }
}
