@import url('/public/styles/reset.css'); /* generics/defaults */

@font-face {
  font-family: 'Roboto';
  src:
    local('Roboto'),
    url('/public/fonts/Roboto-Regular.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'RobotoMono';
  src:
    local('Roboto'),
    url('/public/fonts/RobotoMono-Regular.woff2') format('woff2');
  font-style: normal;
}

:root {
  /* color pallete */
  --text-color: #45494c;
  --text-color-secondary: #6e7079;
  --text-color-sub: #c9cace;
  --bg-color: #f4f5fb;
  --secondary-color: #ffcc91;
  --accent-color: #5670f1;
  --border-black: #cfd3d4;

  --neutral-accent: var(--accent-color);
  --negative-accent: #f57e77;
  --positive-accent: #32936f;

  /* layout and other vars */
  --mobile-header-bg: transparent;
  --side-bar-width: 5vw;
  --desktop-content-width: calc(100vw - var(--side-bar-width));
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Roboto, system-ui;
  min-height: 100vh;
}

body.flex-page {
  display: flex;
  flex-direction: row;
}

.flex-page.side-bar {
  width: var(--side-bar-width);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
}

.side-bar.logo-container {
  height: 61px;
  width: 61px;
  margin-bottom: 4rem;
}

a.side-bar,
i.side-bar {
  height: 50px;
  width: 50px;
  padding: 1rem;
  text-align: center;
  margin-bottom: 0.5rem;

  &:hover {
    background-color: var(--accent);
  }
}

a.side-bar.icon {
  border: 1px solid var(--text-color-sub);
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
}

a.connections-table.icon {
  padding: 1rem;
  text-align: center;
  margin-bottom: 0.5rem;
  background-image: url('/public/images/filter.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.flex-page.content {
  display: flex;
  flex-direction: column;
}

.header.heading {
  text-align: center;
  font-size: 2rem;
  padding: 0.5rem;
}
.sub-header-bold {
  display: block;
  text-align: left;
  color: var(--text-color);
  font-weight: bold;
}

.header.nav {
  display: flex;
  flex-direction: row;
  border-top: #c9cace 0.1px solid;

  width: 100%;
  padding: 0.25rem;
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: var(--text-color-sub);
}

.nav.icon {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/public/images/home.svg');
}

.content.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: var(
    --desktop-content-width
  ); /* due to column flex-grow: grows height so to void double wrap of els e.g. col/row */
  background-color: #fff;
}

.content.main {
  padding: 1rem;
  max-width: 2000px;
  view-transition-name: main;
}

@keyframes slide-out {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(100vw);
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(100vw);
  }
  50% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0);
  }
}

::view-transition-old(main) {
  animation-name: slide-out;
  animation-duration: 1s;
}

::view-transition-new(main) {
  animation-name: slide-in;
  animation-duration: 1s;
}

/* Connections listPage */
/* TODO: include in the media @fn below (mobile) */
.button {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  padding: 10px 20px;
  border-radius: 7px;
  transition: all 0.3s;
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  background-color: transparent;

  &:hover {
    opacity: 0.7;
  }
}

.button-filled {
  background-color: var(--accent-color);
  color: #fff;
}

.button-icon {
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-image: url('/public/images/plus.svg');
}

.button-text {
  background-color: transparent;
  vertical-align: middle;
}

.main.connections {
  display: flex;
  flex-direction: column;
}

.connections-list-nav,
.connections.header {
  display: flex;
  flex-direction: row;
  color: var(--text-color);
  font-size: 1rem;
  gap: 2ch;
}

.connections.header > .button {
  flex-basis: 28ch;
}

.connections.header > *:first-child,
.connections-list-nav > *:first-child {
  margin-right: auto;
}

.connections.header {
  background-color: var(--bg-color);
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.connections.list table {
  width: 100%;
  border-radius: 0px;
  background-color: #fff;
  border-collapse: collapse;
  color: var(--text-color-secondary);
  border-bottom: 1px solid var(--text-color-sub);
}

.connections.list th {
  text-align: left;
  color: var(--text-color);
  padding: 1rem 0;
  font-size: 0.75rem;
  font-weight: bold;
  border-top: 1px solid var(--text-color-sub);
  border-bottom: 1px solid var(--text-color-sub);
}

.connections.list td {
  text-align: left;
  height: 3rem;
  color: var(--text-color-secondary);
  font-size: 0.7rem;
}

.connections.list {
  background-color: #fff;
  overflow-x: auto;

  border-radius: 12px;
  padding: 1rem;
}
.card-body {
  background-color: #fff;
  overflow-x: auto;
  max-width: 1000px;
  border-radius: 12px;
  padding: 2rem 2rem;
  margin: 1rem 2rem 0rem 1rem;
}

.spinner {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
}

.url-separator {
  padding: 0 0.5rem;
  font-size: 1rem;
}

.search-window {
  border-color: var(--text-color-sub);
  border-radius: 5px;
  border-width: 1px;
  padding: 10px;
  background-image: url('../images/search.svg');
  background-repeat: no-repeat;
  background-position: 10px;
  padding-left: 40px;
  font-size: 12px;
  min-width: 100px;
}

.accented-container {
  position: relative;
}

.accented-container::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  height: 10px;
  width: 12px;
  background-image: url('../images/info-accent.svg');
}
.category-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 25px;
  width: 70%;
  height: 40rem;
}

.category-item {
  background-color: #fff;
  overflow-x: auto;
  border-radius: 12px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  font-size: 1.5rem;
}
.center-category {
  display: flex;
  justify-content: center;
  align-items: center;
}
.category-header {
  text-align: center;
  font-size: 2rem;
  padding-top: 10px;
  margin: 0px;
  font-weight: bold;
}
.category-text {
  font-size: 0.875rem;
  text-align: left;
}
.category-align-in-row {
  display: flex;
  flex-direction: row;
  align-items: left;
}
.category-icon {
  padding-top: 10px;
  height: 41px;
  width: 41px;
  margin-bottom: 4rem;
}

/* Mobile view */
@media (max-width: 767px) {
  body.flex-page {
    flex-direction: column;
  }
  .header.heading {
    display: none;
  }
  .content.header {
    width: 100%;
    background-color: var(--mobile-header-bg);
  }
  .content.main {
    width: 100%;
  }
  .flex-page.side-bar {
    flex-direction: row;
    align-items: space-around;
    width: 100%;

    justify-content: space-between;
    min-height: auto;
  }
  .connections-list-nav {
    padding: 5px;
  }

  .side-bar.logo-container {
    margin: 0;
  }

  .card-body {
    max-width: 100%;
    margin: 1rem;
  }

  .search-window {
    margin-left: 10px;
  }
  .category-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .category-header {
    font-size: 1.5rem;
  }
  .category-container {
    height: 100%;
  }
}
