@import url("/public/styles/reset.css"); /* generics/defaults */

body {
  margin: 0;
  padding: 0;
  display: grid;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Roboto, system-ui;
  min-height: 100vh;
}

body.flex-page {
  display: flex;
  flex-direction: row;
}

.flex-page.side-bar {
  width: var(--side-bar-width);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  background-color: #fff;
}

.side-bar.logo-container {
  height: 61px;
  width: 61px;
  margin-bottom: 1.5rem;
}

a.side-bar, i.side-bar {
  height: 50px;
  width: 50px;
  padding: 1rem;
  text-align: center;
  margin-bottom: 0.5rem;

  &:hover {
    background-color: var(--accent);
  }
}

a.side-bar.icon {
  border: 1px solid var(--sub-text-color);
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
}

.flex-page.content {
  display: flex;
  flex-direction: column;
}

.content.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: var(--desktop-content-width); /* due to column flex-grow: grows height so to void double wrap of els e.g. col/row */
  background-color: #fff;
}

.header.heading {
  text-align: center;
  font-size: 2rem;
  padding: 0.5rem;
}

.header.nav {
  display: flex;
  flex-direction: row;
  border-top: #c9cace 0.1px solid;

  width: 100%;
  padding: 0.25rem;
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: var(--sub-text-color);
}

.nav.icon {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/public/images/home.svg"); 
}

.content.main {
  padding: 10px;
  margin: 3rem;
  background-color: white;
}

/* For mobile view: TODO if more needed - new file */
@media (max-width: 767px)  { 
  body.flex-page {
    flex-direction: column;
  }
  .content.header {
    width: 100%;
    background-color: var(--mobile-header-bg);
  }
  .flex-page.side-bar {
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-top: 1rem;
  
    justify-content: space-between;
    min-height: 60px;
  }
}

#counter {
  position: relative;
}

#counter.htmx-request > span {
  opacity: 0;
}

.spinner {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
}

.url-separator {
  padding: 0 0.5rem;
  font-size: 1rem;
}
