/* styling for top level elements that appear on all pages */

@import url('/public/styles/reset.css'); /* reset browser behaviours */
@import url('/public/styles/shared.css'); /* shared components */
@import url('/public/styles/mpa.css'); /* X-document view transition support */

@font-face {
  font-family: 'Roboto';
  src:
    local('Roboto'),
    url('/public/fonts/Roboto-Regular.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'RobotoMono';
  src:
    local('Roboto'),
    url('/public/fonts/RobotoMono-Regular.woff2') format('woff2');
  font-style: normal;
}

:root {
  /* color pallete */
  --text-color: #45494c;
  --text-color-secondary: #6e7079;
  --text-color-sub: #c9cace;
  --bg-color: #f4f5fb;
  --secondary-color: #ffcc91;
  --accent-color: #5670f1;
  --focus-color: rgba(86, 112, 241, 0.6);
  --border-black: #cfd3d4;

  --neutral-accent: var(--accent-color);
  --negative-accent: #f57e77;
  --warning-accent: #ffa800;
  --positive-accent: #32936f;
  --disabled-accent: #363636;

  /* layout and other vars */
  --mobile-header-bg: transparent;
  --side-bar-width: max(70px, min(150px, 5vw));
  --desktop-content-width: calc(100vw - var(--side-bar-width));
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Roboto, system-ui;
  min-height: 100vh;
}

#side-bar {
  width: var(--side-bar-width);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
}

#side-bar > img:first-child {
  height: 61px;
  width: 61px;
  margin-bottom: 4rem;
}

#side-bar > a {
  height: 50px;
  width: 50px;
  padding: 1rem;
  text-align: center;
  margin-bottom: 0.5rem;
  position: relative;
  border: 1px solid var(--text-color-sub);
  border-radius: 10px;
}

#side-bar > a[data-active] {
  background-color: #5670f1;
}

#side-bar > a::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: var(--background-image);
}

#side-bar > a[data-active]::before {
  filter: invert(100%) brightness(130%);
}

main {
  display: flex;
  flex-direction: column;
}

#content-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: var(
    --desktop-content-width
  ); /* due to column flex-grow: grows height so to void double wrap of els e.g. col/row */
  background-color: #fff;
}

#content-header > h1 {
  text-align: center;
  font-size: 2rem;
  padding: 0.5rem;
}

#content-header-nav {
  display: flex;
  flex-direction: row;
  border-top: #c9cace 0.1px solid;

  width: 100%;
  padding: 0.25rem;
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: var(--text-color-sub);
}

#content-header-nav > a:first-child {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/public/images/home.svg');
}

#content-header-nav > a:not(:first-child)::before {
  content: '/';
  padding: 0 0.5rem;
  font-size: 1rem;
}

#content-main {
  padding: 1rem;
  max-width: 2000px;
  view-transition-name: main;
}

@keyframes fade-out {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

::view-transition-old(main) {
  animation-name: fade-out;
  animation-duration: 0.5s;
}

::view-transition-new(main) {
  animation-name: fade-in;
  animation-duration: 0.5s;
}

/* Connections listPage */
/* TODO: include in the media @fn below (mobile) */
.button {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  padding: 10px 20px;
  border-radius: 7px;
  transition: all 0.3s;
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  background-color: transparent;
  width: max-content;
  max-width: 300px;

  &:hover {
    opacity: 0.7;
  }
}

.button-filled {
  background-color: var(--accent-color);
  color: #fff;
}

.button-icon {
  width: 16px;
  height: 16px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-image: url('/public/images/plus.svg');
}

.button-text {
  background-color: transparent;
  vertical-align: middle;
}

.main-list-page {
  display: flex;
  flex-direction: column;
}

.list-nav,
.list-page-header {
  display: flex;
  flex-direction: row;
  color: var(--text-color);
  font-size: 1rem;
  gap: 2ch;
}

.list-page-header > .button {
  flex-basis: 28ch;
}

.list-page-header > *:first-child,
.list-nav > *:first-child {
  margin-right: auto;
}

.list-page-header {
  background-color: var(--bg-color);
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.list-page table {
  width: 100%;
  border-radius: 0px;
  background-color: #fff;
  border-collapse: collapse;
  color: var(--text-color-secondary);
  border-bottom: 1px solid var(--text-color-sub);
}

.list-page th {
  text-align: left;
  color: var(--text-color);
  padding: 1rem 0;
  font-size: 0.75rem;
  font-weight: bold;
  border-top: 1px solid var(--text-color-sub);
  border-bottom: 1px solid var(--text-color-sub);
}

.list-page td {
  text-align: left;
  height: 3rem;
  color: var(--text-color-secondary);
  font-size: 0.7rem;
}

.list-page {
  background-color: #fff;
  overflow-x: auto;
  border-radius: 12px;
  padding: 1rem;
}
.card-body {
  background-color: #fff;
  border: 2px solid #5570f1;
  border-radius: 12px;
  padding: 2rem 2rem;
  margin: 1rem;
}

.spinner {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
}

.url-separator {
  padding: 0 0.5rem;
  font-size: 1rem;
}

.search-window {
  border-color: var(--text-color-sub);
  border-radius: 5px;
  border-width: 1px;
  padding: 10px;
  background-image: url('/public/images/search.svg');
  background-repeat: no-repeat;
  background-position: 10px;
  padding-left: 40px;
  font-size: 12px;
  min-width: 100px;
  margin-bottom: 5px;
}

.accented-container {
  position: relative;
}

.accented-container::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  height: 10px;
  width: 12px;
  background-image: url('../images/info-accent.svg');
}
.category-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
  width: 70%;
  height: 100%;
  cursor: pointer;
}

.category-item {
  background-color: #fff;
  overflow-x: auto;
  border-radius: 12px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  font-size: 1.5rem;
  max-height: 500px;
  min-height: 250px;
  &:hover,
  &:focus-visible {
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid lightgray;
  }
}

.center-category {
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-header {
  text-align: center;
  font-size: 2rem;
  padding-top: 10px;
  margin: 0px;
  font-weight: bold;
}

.category-text {
  font-size: 0.875rem;
  text-align: left;
}

.category-align-in-row {
  display: flex;
  flex-direction: row;
  align-items: left;
}

.category-icon {
  padding-top: 10px;
  height: 41px;
  width: 41px;
  margin-bottom: 4rem;
}
.query-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
  gap: 10px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.query-item {
  background-color: #fff;
  overflow-x: auto;
  border-radius: 12px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  align-content: left;
  font-size: 1.5rem;
  min-height: 500px;
  position: relative;
  &:hover,
  &:focus-visible {
    background-color: var(--accent-color);
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid lightslategrey;
  }
}

.query-header {
  text-align: left;
  font-size: 2rem;
  padding-top: 10px;
  margin: 0px;
}

.query-text {
  font-size: 0.875rem;
  padding-right: 15px;
  text-align: left;
  position: absolute;
  top: 55%;
}

.query-item:hover .query-header,
.query-item:hover .query-text {
  color: var(--bg-color);
}
.divider {
  border: 0;
  border-top: 2px solid #100e0e;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
}

.query-page-header {
  font-size: 2.5em;
  font-weight: bold;
  padding: 0px;
  margin-top: 1rem;
  margin-bottom: 0rem;
}

.query-partial-container {
  padding: 5px;
}

.container-scope3-carbon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  min-height: 30em;
}

.scope3-co2-left {
  flex: 0.5;
  min-height: 425px;
  padding-right: 20px;
}

.scope3-co2-right {
  padding-top: 5px;
  flex: 1;
  flex-direction: column;
}

.scope3-co2-left #scope3-co2-heading {
  margin-bottom: 150px;
}

.box3 {
  flex: 1;
  display: flex;
  flex-direction: row;
}
.box3 table {
  font-size: 0.875rem;
  border-collapse: collapse;
}

.max-height-table {
  max-height: 100px;
}

.box3 td {
  padding-bottom: 10px;
}
.query-results-left-padding-table {
  padding-left: 30px;
}

#scope-3-carbon-consumption {
  display: flex;
  flex-direction: column;
}

.input-with-label {
  border: 1px solid var(--border-black);
  box-shadow: none;
  font-size: 0.75rem;
  width: 100%;
  min-width: 100px;
  max-width: 250px;
  padding: 25px 10px 5px 10px;
  font-size: 0.75rem;

  border-radius: 0.5em;
  margin-top: var(--form-element-vert-spacing);
}

.input-basic {
  border: 1px solid var(--border-black);
  font-size: 0.75rem;
  padding: 5px;
  border-radius: 0.5em;
  background: rgba(233, 236, 248, 1);
  margin-top: var(--form-element-vert-spacing);
  transition: all 0.3s ease-out;
}

.query-text-carbon3-consumption {
  font-size: 1rem;
  text-align: left;
}

.input-container {
  position: relative;
  margin-bottom: 20px;
}

.input-label {
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 0 5px;
  font-size: 9px;
  color: #333;
  opacity: 0.7;
}

.additional-input-label {
  padding: 0px;
  margin: 0px;
  font-size: 11px;
  opacity: 0.6;
  padding-top: 3px;
}

#new-query-confirmation-text {
  font-size: 0.875rem;
  margin-inline: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#company-selected-next-button {
  background-color: var(--accent-color);
  margin-top: 5px;
  color: white;
}

.warn-pin-attempts {
  color: var(--negative-accent);
  font-size: 0.875rem;
}

.profile-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 25px;
  margin-bottom: 20px;
  color: #fff;
}

input[type='checkbox'] {
  display: inline-flex;
  appearance: none;
  background-color: #fff;
  font: inherit;
  color: var(--text-color-secondary);
  width: 17px;
  height: 17px;
  border: 1px solid var(--text-color-secondary);
  margin-right: 10px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;

  &:hover {
    border: 1px solid var(--accent-color);
    background-color: rgba(86, 112, 241, 0.1);
  }
}

input:focus {
  outline: 2px solid var(--focus-color);
}

input:hover {
  border: 1px solid var(--accent-color);
}

input[type='checkbox']::before {
  content: '';
  border-radius: 3px;
  width: 15px;
  height: 15px;
  transform: scale(0);
  background-color: var(--accent-color);
  background-size: cover;
  background-image: url('/public/images/tick-white.svg');
}

input[type='checkbox']:checked::before {
  transform: scale(1);
}

/* Mobile view */
@media (max-width: 767px) {
  body {
    flex-direction: column;
  }
  #content-header > h1 {
    display: none;
  }
  #content-header {
    width: 100%;
    background-color: var(--mobile-header-bg);
  }
  #content-main {
    width: 100%;
  }
  #side-bar {
    flex-direction: row;
    align-items: space-around;
    width: 100%;

    justify-content: center;
    gap: 12px;
    min-height: auto;
  }

  #side-bar > img:first-child {
    position: absolute;
    left: 0;
    top: 10px;
  }

  .search-window {
    margin-left: 10px;
  }
  .category-item {
    min-height: auto;
  }
  .category-header {
    font-size: 1.5rem;
  }
  .category-container {
    height: 100%;
  }
  .query-item,
  .scope3-co2-left {
    min-height: 250px;
  }
  .query-text-carbon3-consumption {
    max-width: 100%;
    position: relative;
    top: 0;
  }
  .scope3-co2-left #scope3-co2-heading {
    text-align: center;
    margin-bottom: 0;
  }
  .scope3-co2-left {
    flex: 1;
  }
  .max-height-table {
    max-height: none;
  }
}
