name: Synchronise all PR versions
on:
  push:
    branches: ["main"]
jobs:
  synchronise-trunk-version-npm:
    uses: digicatapult/shared-workflows/.github/workflows/synchronise-trunk-version-npm.yml@test/verify_e2e_permissions
    with:
      trunk-branch: "main"
    secrets:
      bot-id: ${{ secrets.BOT_ID }}
      bot-key: ${{ secrets.BOT_KEY }}
