name: Synchronise Version
on:
  pull_request:
    types: [labeled, unlabeled, opened, reopened, synchronize]
jobs:
  synchronise-pr-version-npm:
    uses: digicatapult/shared-workflows/.github/workflows/synchronise-pr-version-npm.yml@test/verify_e2e_permissions
    with:
      pr-number: ${{ github.event.pull_request.number }}
      trunk-branch: 'main'
    secrets:
      bot-id: ${{ secrets.BOT_ID }}
      bot-key: ${{ secrets.BOT_KEY }}
