name: Synchronise Version
on:
  pull_request:
    types: [labeled, unlabeled, opened, reopened, synchronize]
permissions:
  contents: write
  pull-requests: write
jobs:
  synchronise-pr-version-npm:
    uses: digicatapult/shared-workflows/.github/workflows/synchronise-pr-version-npm.yml@test/use_actions_permissions_monitor
    with:
      enable_permissions_monitor: true
      pr-number: ${{ github.event.pull_request.number }}
      trunk-branch: 'main'
    secrets:
      bot-id: ${{ secrets.BOT_ID }}
      bot-key: ${{ secrets.BOT_KEY }}
