name: Test (NPM)
on:
  push:
    branches-ignore: ['main']
jobs:
  check-version:
    uses: digicatapult/shared-workflows/.github/workflows/check-version.yml@test/verify_e2e_permissions
  static-checks-npm:
    uses: digicatapult/shared-workflows/.github/workflows/static-checks-npm.yml@main
    with:
      matrix_commands: '["lint", "depcheck", "check", "xss-scan"]'
  tests-npm:
    uses: digicatapult/shared-workflows/.github/workflows/tests-npm.yml@test/verify_e2e_permissions
    with:
      docker_compose_file: ''
      npm_build_command: 'npm run tsoa:build'
  e2e-tests-npm:
    uses: digicatapult/shared-workflows/.github/workflows/tests-e2e-npm.yml@test/verify_e2e_permissions
    with:
      docker_compose_file: ''
      pre_test_command: 'npm ci && npx playwright install-deps && npx playwright install'
      test_command: 'npm run test:e2e || exit 1'
    secrets: inherit
  generate-sbom-npm:
    uses: digicatapult/shared-workflows/.github/workflows/generate-sbom-npm.yml@test/verify_e2e_permissions
    with:
      additional_args: "--ignore-npm-errors"
      enable_check_version: true
      enable_dtrack_project: true
      sbom_output_file: ${{ github.event.repository.name }}.cdx.json
    secrets:
      DTRACK_APIKEY: ${{ secrets.DTRACK_APIKEY }}
      DTRACK_HOSTNAME: ${{ secrets.DTRACK_HOSTNAME }}
  build-docker:
    uses: digicatapult/shared-workflows/.github/workflows/build-docker.yml@main
    permissions:
      packages: write
      contents: write
      security-events: write
      actions: read
